import webbrowser, os
os.system('cls')

class Suicide:
    def __init__(self, complexes, mutilation, papa_frappe, billie_hoodie):
        self.complexes = complexes
        self.mutilation = mutilation
        self.papa_frappe = papa_frappe
        self.billie_hoodie = billie_hoodie

    def goingtosuicide(complexes, mutilation, papa_frappe, billie_hoodie):
        suicide = 0;
        if complexes == True:
            suicide += 1

        if mutilation == True:
            suicide += 1

        if papa_frappe == True:
            suicide += 1

        if billie_hoodie == True:
            suicide += 1

        return suicide

    def rickroll():
        webbrowser.open("https://www.youtube.com/watch?v=dQw4w9WgXcQ")

    def dont():
        print("don't suicide you")
        Suicide.rickroll()

    def ok():
        print("ok")
        Suicide.rickroll()

complexes = False
mutilation = False
papa_frappe = False
billie_hoodie = False

if input("As tu des complexes ? : ") == "oui":
    complexes = True

if input("Est-ce que tu te mutile ? : ") == "oui":
    mutilation = True

if input("Est-ce que ton père te frappe ? : ") == "oui":
    papa_frappe = True

if input("Est-ce que tu écoute billie eilish en hoodie noir ? : ") == "oui":
    billie_hoodie = True

if Suicide.goingtosuicide(complexes, mutilation, papa_frappe, billie_hoodie) > 2 or billie_hoodie == True:
    Suicide.dont()
else:
    Suicide.ok()
